/* === Variables === */
$orange: #FF8036;
$light-orange : #fff2eb;
$green: #019166;
$light-green : #e6f4f0;
$red: #FF6B6B;
$blue : #0073aa;
$hover-bg: lighten($orange, 40%); // Adjust percentage as needed

/* === Callout Styling === */
.callout {
    border: 1px solid #0073aa;
    border-radius: 8px;
    background: linear-gradient(to bottom, #e1f5fe, #f6fcff);
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 25px 20px; /* Unified padding */
    position: relative; /* Required for absolute positioning of the icon */
    gap: 10px;
}

/* === Large Icon Styling === */
.fa-large-icon {
    font-size: 80px;             /* Adjust size as needed */
    color: #fff;                 /* Adjust color */
    opacity: 0.9;                /* Low opacity */
    position: absolute;          /* Positioning the icon */
    right: 20px;                 /* Position on the right side */
    top: 50%;                    /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    pointer-events: none;        /* Prevent interaction with the icon */
}

/* === Button Styling === */

.outline{
    &__orange{
        background-color: white;
        border: 1px solid $orange !important;
        color: $orange !important;
    
        &:hover {
            background-color: $hover-bg !important;
        }
    }
    &__red{
        background-color: lighten($red, 50%) !important;
        border: 1px solid $red !important;
        color: $red !important;
    
        &:hover {
            background-color: lighten($red, 40%) !important; // Membuat latar belakang lebih terang saat hover
        }
    }
    &__green{
        background-color: white;
        border: 1px solid $green !important;
        color: $green !important;
    
        &:hover {
            background-color: lighten($green, 90%) !important;
        }

        &--callout{
            border-radius : 4px;
            padding: 8px 16px;
            margin-bottom: 8px;
            background-color: lighten($light-green, 0.9);
            &:hover {
                background-color: lighten($light-green, 0.9) !important;
                
            }
        }
    }

}

.bg{
    border: none !important;
   
    &__orange{
        background-color: $orange !important;
       
        &--light{
            background: linear-gradient(to bottom, #ffe6d7, #fff2eb) !important;
      
        }
    }
    

    &__green{
        background-color: $green !important;
    }

    &__blue{
        background-color: $blue !important;
        &--light{
            border: 1px solid rgba(34, 112, 177, 0.3) !important;
            background: rgba(34, 112, 177, 0.08) !important;
        }
    }
    
}

/* === Button Custom Styling === */
.btn-custom {
    display: flex !important;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* === Tab Styling === */
.nav-tab-wrapper {
    margin-bottom: 20px;
}

.nav-tab {
    border: none;
    background: none;
}

.nav-tab-active {
    font-weight: 600;
    color: #0073aa !important;
    border-bottom: 2px solid #0073aa !important;
    background: none !important;
}

/* === Tab Content === */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* === Table Styling === */
.wp-list-table {
    margin-top: 20px;
}

// MODAL
.modal-header{
    &__orange{
        font-weight: 500;
        background: linear-gradient(to bottom, $light-orange, #ffffff ); // Atur tingkat lighten
  
    }
    &__green{
        font-weight: 500;
        background: linear-gradient(to bottom, $light-green, #ffffff ); // Atur tingkat lighte
    }
}
.modal-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    &__orange {
        color: $orange;
    }

    &__green{
        color : $green;
    }
}

.modal-content{
    &__orange{
        border : 1px solid $orange;
 
    }
    &__green{
        border : 1px solid $green;
    }
}
// end modal

.form-control{
    max-width: 100% !important;
}