.header {
    text-align: center;
    padding: 20px;
}


.glass {
    padding: 14px 20px;
    background: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    .timeline, .calendar-container {
        margin: 0 10px;
    }

    .calendar-container {
        flex-grow: 2 !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        width: 300px;
        margin: 20px;
        box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5);
    }
}


.pulse {
    position: relative;
    overflow: hidden;
    animation: pulseEffect 2s infinite;
}

@keyframes pulseEffect {
    0% {
        box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5), 0 0 0 0 rgba(255, 158, 62, 0.7);
    }
    50% {
        box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5), 0 0 15px 10px rgba(255, 158, 62, 0);
    }
    100% {
        box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5), 0 0 0 0 rgba(255, 158, 62, 0);
    }
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

@import 'inc/calendar';
@import 'inc/timeline';
@import 'inc/clock';
