.header {
    text-align: center;
    padding: 20px;
}

.clock {
    font-size: 24px;
    margin-top: 10px;
    max-width: 700px !important;
    display: inline-block;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.2); /* Transparent color */
    border-radius: 15px;
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Cross-browser support */
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05); /* Slightly enlarge on hover */
    }
}

.glass {
    padding: 14px 20px;
    background: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    .timeline, .calendar-container {
        margin: 0 10px;
    }

    .calendar-container {
        flex-grow: 2 !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        width: 300px;
        margin: 20px;
        box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5);
    }
}

.timeline {
    flex-grow: 3 !important;
    position: relative;
    max-width: 900px;
    margin: 20px auto;
    padding-left: 40px; /* Increased padding */

    .timeline-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        position: relative;
        padding-top: 15px;

        &::before {
            content: '';
            width: 12px;
            height: 12px;
            background-color: #fff;
            border: 2px solid #FF9F3F;
            border-radius: 50%;
            position: absolute;
            left: -50px;
            top: 40px;
        }

        &::after {
            content: '';
            position: absolute;
            left: -43px;
            top: 50px;
            width: 2px;
            height: calc(100% + 10px);
            background-color: #FF9F3F;
            z-index: -1;
        }

        &:last-child::after {
            display: none;
        }

        .timeline-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            padding: 30px 20px;
            box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5);
            width: 100%;

            h4 {
                margin: 0 0 10px 0;
                font-size: 20px;
            }

            p {
                margin: 5px 0;
                font-size: 14px;
            }
        }

        .timeline-date {
            position: absolute;
            background-color: #FF9F3F;
            padding: 6px 10px;
            border-radius: 5px;
            top: 2px;
            left: -2px;
        }
        .timeline-jenis {
            background-color: #EBECEE;
            padding: 5px 14px;
            border-radius: 14px;
            width: fit-content;
            bottom: 10px;
            right: 12px;
            color: #453c3c;
        }
        .timeline-tipe {
            background-color: #EBECEE;
            padding: 5px 14px;
            border-radius: 14px;
            width: fit-content;
            position: absolute;
            bottom: 10px;
            right: 12px;
            color: #453c3c;
        }
    }
}

.pulse {
    position: relative;
    overflow: hidden;
    animation: pulseEffect 2s infinite;
}

@keyframes pulseEffect {
    0% {
        box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5), 0 0 0 0 rgba(255, 158, 62, 0.7);
    }
    50% {
        box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5), 0 0 15px 10px rgba(255, 158, 62, 0);
    }
    100% {
        box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5), 0 0 0 0 rgba(255, 158, 62, 0);
    }
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

@import 'calendar';
