/* === Variables === */
/* === Callout Styling === */
.callout {
  border: 1px solid #0073aa;
  border-radius: 8px;
  background: linear-gradient(to bottom, #e1f5fe, #f6fcff);
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 25px 20px; /* Unified padding */
  position: relative; /* Required for absolute positioning of the icon */
  gap: 10px;
}

/* === Large Icon Styling === */
.fa-large-icon {
  font-size: 80px; /* Adjust size as needed */
  color: #fff; /* Adjust color */
  opacity: 0.9; /* Low opacity */
  position: absolute; /* Positioning the icon */
  right: 20px; /* Position on the right side */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
  pointer-events: none; /* Prevent interaction with the icon */
}

/* === Button Styling === */
.outline__orange {
  background-color: white;
  border: 1px solid #FF8036 !important;
  color: #FF8036 !important;
}
.outline__orange:hover {
  background-color: white !important;
}
.outline__red {
  background-color: white !important;
  border: 1px solid #FF6B6B !important;
  color: #FF6B6B !important;
}
.outline__red:hover {
  background-color: white !important;
}
.outline__green {
  background-color: white;
  border: 1px solid #019166 !important;
  color: #019166 !important;
}
.outline__green:hover {
  background-color: white !important;
}
.outline__green--callout {
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 8px;
  background-color: #e9f5f2;
}
.outline__green--callout:hover {
  background-color: #e9f5f2 !important;
}

.bg {
  border: none !important;
}
.bg__orange {
  background-color: #FF8036 !important;
}
.bg__orange--light {
  background: linear-gradient(to bottom, #ffe6d7, #fff2eb) !important;
}
.bg__green {
  background-color: #019166 !important;
}
.bg__blue {
  background-color: #0073aa !important;
}
.bg__blue--light {
  border: 1px solid rgba(34, 112, 177, 0.3) !important;
  background: rgba(34, 112, 177, 0.08) !important;
}

/* === Button Custom Styling === */
.btn-custom {
  display: flex !important;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/* === Tab Styling === */
.nav-tab-wrapper {
  margin-bottom: 20px;
}

.nav-tab {
  border: none;
  background: none;
}

.nav-tab-active {
  font-weight: 600;
  color: #0073aa !important;
  border-bottom: 2px solid #0073aa !important;
  background: none !important;
}

/* === Tab Content === */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* === Table Styling === */
.wp-list-table {
  margin-top: 20px;
}

.modal-header__orange {
  font-weight: 500;
  background: linear-gradient(to bottom, #fff2eb, #ffffff);
}
.modal-header__green {
  font-weight: 500;
  background: linear-gradient(to bottom, #e6f4f0, #ffffff);
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.modal-title__orange {
  color: #FF8036;
}
.modal-title__green {
  color: #019166;
}

.modal-content__orange {
  border: 1px solid #FF8036;
}
.modal-content__green {
  border: 1px solid #019166;
}

.form-control {
  max-width: 100% !important;
}

/*# sourceMappingURL=admin.css.map */
